.panel-box mat-grid-tile {
  background-color: #f9f9f9;
  border: 1px solid #dddddd;
  cursor: pointer;
}

.panel-box mat-grid-tile:hover {
  border-color: #cccccc;
}

.panel-box mat-grid-tile.operator-items {
  background-color: #ddd;
  border-color: #aaa;
}

.panel-box mat-grid-tile.operator-items:hover {
  border-color: #ddd;
}
